body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
}

video {
    border: 5px solid black;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    canvas {
        position: absolute;
        width: 320px;
    }
    video {
        width: 320px;
        position: absolute;
        border: 5px solid black;
    }
}


/* 

h1 {
    position: absolute;
} */